<a href="https://colab.research.google.com/github/casalazara/Data-Science-Aplicado/blob/master/Lab3/L3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyreadstat
!pip install pandas-profiling==2.7.1

!wget -q "https://github.com/casalazara/Data-Science-Aplicado/blob/master/Lab2/B.sav?raw=true" -O "B.sav"
!wget -q "https://github.com/casalazara/Data-Science-Aplicado/blob/master/Lab2/H.sav?raw=true" -O "H.sav"

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.6/dist-packages (1.0.2)
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.6/dist-packages (from pyreadstat) (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>0.24.0->pyreadstat) (1.15.0)
Requirement already satisfied: pandas-profiling==2.7.1 in /usr/local/lib/python3.6/dist-packages (2.7.1)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (4.49.0)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (3.2.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (1.0.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (1.18.5)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (2.23.0)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (1.3.0)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (1.4.1)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (0.1.12)
Requirement already satisfied: phik>=0.9.10 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (0.10.0)
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (7.5.1)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (2.11.2)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (0.4.2)
Requirement already satisfied: astropy>=4.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (4.0.1.post1)
Requirement already satisfied: visions[type_image_path]==0.4.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (0.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (0.16.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.7.1) (0.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling==2.7.1) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (1.24.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.7.1) (3.13)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.10->pandas-profiling==2.7.1) (0.48.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.3.3)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.10.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.0.7)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.11.1->pandas-profiling==2.7.1) (1.1.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling==2.7.1) (0.10.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (20.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (2.5)
Requirement already satisfied: Pillow; extra == "type_image_path" in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (7.0.0)
Requirement already satisfied: imagehash; extra == "type_image_path" in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (4.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling==2.7.1) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling==2.7.1) (49.6.0)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling==2.7.1) (0.31.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.4.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.2.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.8.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (2.1.3)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.7.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.3.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.3.5)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.6.3)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.6/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (1.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.2.5)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.8.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.5.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.6.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (19.0.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (3.1.5)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.6.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.4.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (20.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.5.1)

#Importación de las librerías a usar

In [ ]:
# Importante librerias o modulos que se van a usar en esta sesion
import os, sys
import numpy as np
import pandas as pd
import pandas_profiling 

##Librerías para graficar
import matplotlib
matplotlib.style.use('ggplot')
from matplotlib import pyplot as plt

# Lectura de los datos
Para este laboratorio tendré en cuenta los datos de Fuerza de trabajo y Condiciones de la vivienda. A continuación los cargaré y eliminaré las filas y columnas queno superen un umbral que determinaré más adelante, con base en las columnas que queden determinaré las hipótesis que permitan profundizar el objetivo principal del ENUT _"La ENUT es una investigación desarrollada por el DANE, con el fin de generar información sobre el tiempo dedicado por la población de 10 años
y más a actividades de trabajo y personales"_.

In [ ]:
H = pd.read_spss("H.sav") #Datos FUERZA DE TRABAJO
H

        DIRECTORIO  SECUENCIA_P  ORDEN  ... P1145           P1145S1   P1145S2
0        2915591.0          1.0    1.0  ...   No.               NaN       NaN
1        2915592.0          1.0    1.0  ...   No.               NaN       NaN
2        2915593.0          1.0    1.0  ...    Sí  Dentro del país.  550000.0
3        2915593.0          1.0    2.0  ...   No.               NaN       NaN
4        2915594.0          1.0    1.0  ...   No.               NaN       NaN
...            ...          ...    ...  ...   ...               ...       ...
123311   2965179.0          1.0    3.0  ...   No.               NaN       NaN
123312   2965180.0          1.0    1.0  ...    Sí  Dentro del país.  600000.0
123313   2965180.0          1.0    2.0  ...   No.               NaN       NaN
123314   2965180.0          1.0    3.0  ...   No.               NaN       NaN
123315   2965180.0          1.0    4.0  ...    Sí  Dentro del país.  800000.0

[123316 rows x 37 columns]

In [ ]:
B = pd.read_spss("B.sav") # Datos CONDICIONES DE LA VIVIENDA
B

       DIRECTORIO       FEX_C  ... P4030S2                        P4020
0       2915591.0  463.993402  ...      Sí            Cemento, gravilla
1       2915592.0   93.084381  ...      No  Baldosa, cerámica, laminado
2       2915593.0  516.279638  ...      Sí  Baldosa, cerámica, laminado
3       2915594.0  655.671443  ...      Sí            Cemento, gravilla
4       2915595.0  326.783507  ...      Sí  Baldosa, cerámica, laminado
...           ...         ...  ...     ...                          ...
42280   2965176.0  393.841631  ...      No            Cemento, gravilla
42281   2965177.0  228.826921  ...      No            Cemento, gravilla
42282   2965178.0  555.884214  ...      Sí                Tierra, arena
42283   2965179.0  632.200392  ...      Sí            Cemento, gravilla
42284   2965180.0  531.642897  ...      No            Cemento, gravilla

[42285 rows x 14 columns]

In [ ]:
df = pd.merge(H,B,how ='inner',on='DIRECTORIO')
df

        DIRECTORIO  SECUENCIA_P  ...  P4030S2                        P4020
0        2915591.0          1.0  ...       Sí            Cemento, gravilla
1        2915592.0          1.0  ...       No  Baldosa, cerámica, laminado
2        2915593.0          1.0  ...       Sí  Baldosa, cerámica, laminado
3        2915593.0          1.0  ...       Sí  Baldosa, cerámica, laminado
4        2915594.0          1.0  ...       Sí            Cemento, gravilla
...            ...          ...  ...      ...                          ...
123311   2965179.0          1.0  ...       Sí            Cemento, gravilla
123312   2965180.0          1.0  ...       No            Cemento, gravilla
123313   2965180.0          1.0  ...       No            Cemento, gravilla
123314   2965180.0          1.0  ...       No            Cemento, gravilla
123315   2965180.0          1.0  ...       No            Cemento, gravilla

[123316 rows x 50 columns]

## Valores faltantes

In [ ]:
def missing_values_table(df): 
  mis_val = df.isnull().sum()
  mis_val_percent = 100 * df.isnull().sum()/len(df)
  mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
  mis_val_table_ren_columns = mis_val_table.rename(
  columns = {0 : 'Missing Values', 1 : '% of Total Values'})
  return mis_val_table_ren_columns 
faltantes = missing_values_table(df)
faltantes

                  Missing Values  % of Total Values
DIRECTORIO                     0           0.000000
SECUENCIA_P                    0           0.000000
ORDEN                          0           0.000000
P6370S1                        0           0.000000
P6390S1                        0           0.000000
P6880                      60174          48.796588
P6440                      60174          48.796588
P6400                      89633          72.685621
P1151                      60174          48.796588
P1150                      60174          48.796588
P1150S1                    75872          61.526485
P1150S2                    75872          61.526485
P1099                     123316         100.000000
P1099S1                    75872          61.526485
P1099S2                    75872          61.526485
P1098                     107618          87.270103
P427                       60174          48.796588
P6500                      89010          72.180415
P6750                      96292          78.085569
P6760                      96292          78.085569
P6426                      60174          48.796588
P428                       60174          48.796588
P6250                      60174          48.796588
P6850                     120294          97.549385
P1149                     120294          97.549385
P1149S1                   121863          98.821726
P1149S2                   121863          98.821726
P1148S1                   121863          98.821726
P1148S2                   121863          98.821726
P7070                     120294          97.549385
P6510                          0           0.000000
P6510S1                   115576          93.723442
P6545                          0           0.000000
P6545S1                   119085          96.568977
P1145                          0           0.000000
P1145S1                   108880          88.293490
P1145S2                   108880          88.293490
FEX_C                          0           0.000000
REGION                         0           0.000000
DIA_REFERENCIA_2               0           0.000000
clase                          0           0.000000
P424                           0           0.000000
P4030S1                        0           0.000000
P4030S1A1                   2196           1.780791
P4030S5                        0           0.000000
P4030S3                        0           0.000000
P4030S4                        0           0.000000
P4030S4A1                  20534          16.651529
P4030S2                        0           0.000000
P4020                          0           0.000000

Eliminaré las columnas que tengan más del 90% de sus valores vacíos

In [ ]:
def remover_Cols(df,faltantes,threshold=90.):
  a_remover=[]
  for columna in df.columns:
    if faltantes.loc[columna,'% of Total Values'] >= threshold:
      a_remover.append(columna)
  df.drop(axis=1,columns=a_remover,inplace=True)
remover_Cols(df,faltantes)

Eliminaré las filas que no tengan 37 valores como mínimo.

In [ ]:
df.dropna(subset=list(df.columns),thresh=37,inplace=True)
faltantes = missing_values_table(df)
faltantes

                  Missing Values  % of Total Values
DIRECTORIO                     0           0.000000
SECUENCIA_P                    0           0.000000
ORDEN                          0           0.000000
P6370S1                        0           0.000000
P6390S1                        0           0.000000
P6880                          0           0.000000
P6440                          0           0.000000
P6400                        978          46.438746
P1151                          0           0.000000
P1150                          0           0.000000
P1150S1                        0           0.000000
P1150S2                        0           0.000000
P1099S1                        0           0.000000
P1099S2                        0           0.000000
P1098                       2106         100.000000
P427                           0           0.000000
P6500                       1143          54.273504
P6750                        963          45.726496
P6760                        963          45.726496
P6426                          0           0.000000
P428                           0           0.000000
P6250                          0           0.000000
P6510                          0           0.000000
P6545                          0           0.000000
P1145                          0           0.000000
P1145S1                        0           0.000000
P1145S2                        0           0.000000
FEX_C                          0           0.000000
REGION                         0           0.000000
DIA_REFERENCIA_2               0           0.000000
clase                          0           0.000000
P424                           0           0.000000
P4030S1                        0           0.000000
P4030S1A1                      0           0.000000
P4030S5                        0           0.000000
P4030S3                        0           0.000000
P4030S4                        0           0.000000
P4030S4A1                     29           1.377018
P4030S2                        0           0.000000
P4020                          0           0.000000

Las columnas que quedan son columnas que de acuerdo al diccionario no pueden aportarnos mucho y sí quitarnos en caso de remover las filas que las contienen como valores nulos por lo que es mejor removerlas salvo la columna _P4030S4A1_ pues es relevante y además tiene pocos valores nulos.

In [ ]:
remover_Cols(df,faltantes,40)

In [ ]:
print(df['P4030S4A1'].value_counts())

3.0    1237
2.0     661
1.0     138
7.0      16
6.0      11
5.0       8
4.0       4
8.0       2
Name: P4030S4A1, dtype: int64

Creo que lo mejor sería llenar los valores nulos de acuerdo a la distribución de probabilidad de los valores que puede tomar esta columna.

In [ ]:
s = df["P4030S4A1"].value_counts(normalize=True)
missing = df["P4030S4A1"].isnull()
df.loc[missing,"P4030S4A1"] = np.random.choice(s.index, size=len(df[missing]),p=s.values)

## Cambios en el tipo de las variables

In [ ]:
def cambiar_tipo(df):
  df["SECUENCIA_P"] = df["SECUENCIA_P"].astype(int)
  df['P6370S1'] = df['P6370S1'].astype(float)
  df['P6390S1'] = df['P6390S1'].astype(float)
  df["P4030S1A1"] = df["P4030S1A1"].astype(int)
  df["P4030S4A1"] = df["P4030S4A1"].astype(int)    
cambiar_tipo(df)

## Renombramiento de las columnas.

In [ ]:
a_renombrar = {'P1098': 'motivo_no_trabajo',
 'P1099': 'total_ida',
 'P1099S1': 'horas_ida',
 'P1099S2': 'minutos_ida',
 'P1145': 'ganancia_ayudas',
 'P1145S1': 'ayuda_provino_de',
 'P1145S2': 'valor_ayudas',
 'P1148S1': 'ida_secundario_horas',
 'P1148S2': 'ida_secundario_minutos',
 'P1149': 'trabajo_secundario_dia',
 'P1149S1': 'horas_trabajo_secundario',
 'P1149S2': 'minutos_trabajo_secundario',
 'P1150': 'trabajo_dia',
 'P1150S1': 'horas_trabajo',
 'P1150S2': 'minutos_trabajo',
 'P1151': 'horas_semana',
 'P427': 'este_trabajo',
 'P428': 'numero_personas',
 'P6250': 'empleo_secundario',
 'P6370S1': 'oficio_princ',
 'P6390S1': 'rama_princ',
 'P6400': 'misma_empresa',
 'P6426': 'cantidad_tiempo',
 'P6440': 'contrato',
 'P6500': 'ganancias_mes_pasado',
 'P6510': 'ganancia_jubilacion',
 'P6510S1': 'valor_jubilacion',
 'P6545': 'ganancia_arriendo',
 'P6545S1': 'valor_arriendo',
 'P6750': 'ganancia_neta_mes_pasado',
 'P6760': 'numero_meses',
 'P6850': 'horas_semana_empleo_secundario',
 'P6880': 'lugar_trabajo',
 'P7070': 'ganancia_secundaria_mes_pasado',
 "FEX_C": "factores_expansion",
  "P424": "tipo_vivienda",
  "P4030S1": "energia_electrica",
  "P4030S1A1": "estrato",
  "P4030S5": "acueducto",
  "P4030S3": "alcantarillado",
  "P4030S4": "recoleccion_basuras",
  "P4030S4A1": "dias_x_semana",
  "P4030S2": "gas_natural_dom",
  "P4020": "material_pisos",
  "DIA_REFERENCIA_2": "dia_referencia"
}
df.rename(columns=a_renombrar, inplace=True)

# Hipótesis 


1.   La región influye en la cantidad de tiempo que las personas gastan en movilizarse a su lugar de trabajo
2.   El género determina cuanto tiempo duran las personas en el trabajo
3.   ??

# Selección de variables necesarias.

In [ ]:
col_relevantes = ['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'oficio_princ', 'rama_princ',
       'lugar_trabajo', 'contrato', 'horas_semana', 'trabajo_dia',
       'horas_trabajo', 'minutos_trabajo', 'horas_ida', 'minutos_ida',
       'este_trabajo', 'cantidad_tiempo', 'numero_personas',
       'empleo_secundario', 'ganancia_jubilacion', 'ganancia_arriendo',
       'ganancia_ayudas', 'ayuda_provino_de', 'valor_ayudas', 'REGION', 'clase',
       'tipo_vivienda', 'energia_electrica', 'estrato', 'acueducto',
       'alcantarillado', 'recoleccion_basuras', 'dias_x_semana',
       'gas_natural_dom']
final = df[col_relevantes]
final

        DIRECTORIO  SECUENCIA_P  ...  dias_x_semana  gas_natural_dom
29       2915602.0            1  ...              3               No
75       2915619.0            1  ...              3               Sí
78       2915621.0            1  ...              3               No
83       2915623.0            1  ...              2               No
269      2915699.0            1  ...              7               No
...            ...          ...  ...            ...              ...
122819   2964984.0            1  ...              3               No
122863   2965000.0            1  ...              3               No
123110   2965100.0            1  ...              3               Sí
123197   2965145.0            1  ...              2               Sí
123315   2965180.0            1  ...              3               No

[2106 rows x 32 columns]

# Estudio de calidad de los datos

## Completitud

In [ ]:
def completitud(df):
  mis_val = df.isnull().sum()
  mis_val_percent = 100 * (1 - (df.isnull().sum()/len(df)))
  mis_val_percent.rename_axis('Atributo',inplace=True)
  return mis_val_percent
completitud(final)

Atributo
DIRECTORIO             100.0
SECUENCIA_P            100.0
ORDEN                  100.0
oficio_princ           100.0
rama_princ             100.0
lugar_trabajo          100.0
contrato               100.0
horas_semana           100.0
trabajo_dia            100.0
horas_trabajo          100.0
minutos_trabajo        100.0
horas_ida              100.0
minutos_ida            100.0
este_trabajo           100.0
cantidad_tiempo        100.0
numero_personas        100.0
empleo_secundario      100.0
ganancia_jubilacion    100.0
ganancia_arriendo      100.0
ganancia_ayudas        100.0
ayuda_provino_de       100.0
valor_ayudas           100.0
REGION                 100.0
clase                  100.0
tipo_vivienda          100.0
energia_electrica      100.0
estrato                100.0
acueducto              100.0
alcantarillado         100.0
recoleccion_basuras    100.0
dias_x_semana          100.0
gas_natural_dom        100.0
dtype: float64

No hay valores vacíos.

## Exactitud

In [ ]:
for columna in final.columns:
  print(columna,"\n",final[columna].unique())

DIRECTORIO
 [2915602. 2915619. 2915621. ... 2965100. 2965145. 2965180.]
SECUENCIA_P
 [1 2 3]
ORDEN
 [ 6.  3.  1.  2.  7.  5.  4. 11.  8. 13.  9. 10.]
oficio_princ
 [97. 39. 58. 61. 41. 32. 45. 85. 21. 98. 95. 79. 76. 11. 54. 30. 59. 38.
 44. 13. 56. 70. 62. 81. 53. 37.  9. 55. 80.  0.  3. 84. 77. 75. 57. 99.
 19. 33.  7. 15.  6. 14. 51. 17. 20. 50. 34. 90. 92. 93.  5. 42.  8. 18.
 16. 12.  2. 49. 87. 94. 40. 89. 83. 43. 74. 63. 60. 71. 64. 36.  1.]
rama_princ
 [   0. 5511. 7524.  116. 5211. 7493. 5030. 7411. 4010. 7412. 6031. 4521.
  118. 2529. 5125. 6422. 1810. 7499. 1910. 9500. 7512. 9242. 1521. 7492.
 6421. 6512. 8050. 5262. 9301. 5223.  113. 1543. 3611. 5244. 5261. 5521.
 7020. 5221. 5529. 6412. 5271. 6519. 5012. 5241. 6320. 8514. 5239.  115.
 8043. 7494. 6213. 5233. 1110. 1924. 8011. 8512. 5040. 1589. 8532. 5051.
  117. 1741. 2429. 1594. 2422. 5243. 1591. 5020. 1743. 8045. 9302. 2090.
  140. 2424. 1551. 5272. 8042.  111. 7123. 5139. 7513. 3699. 7511. 8012.
 5224. 5231. 1931. 8511. 5170. 4530. 1541. 9191. 2212. 5234. 5232. 5530.
 5141. 6331. 5229. 2211. 8060. 9309. 1929. 6310. 8021. 1571. 6411.  122.
 1581. 7514. 7530. 1592. 9249. 5237. 2220. 5135. 1530.  114. 7523. 7414.
 5236. 5522. 8531. 5225. 9111. 7413. 5219. 5133. 7010. 9241. 2519. 6041.
 5132. 5011. 6021.  121. 8041. 8044. 9214. 1921. 6042. 1939. 7421.  123.
 5155. 5249. 3613. 7230. 2109. 6599. 1563. 2811. 5127. 4542. 1593. 9000.
 6596. 7430. 5235. 2693. 5161. 4552.  112. 2812. 2899. 5111. 6022. 1749.
 2423. 2413. 1522.  130.  201. 7250. 6601. 1411. 8513. 1730.  501. 7130.
 5512. 2694. 1010. 8520. 5222. 9213. 5151. 9303. 8046. 6211. 1561. 7122.
 2020. 6424. 7522.  129. 5269. 8519. 4522. 9212. 5052. 9900. 9232. 1750.
 7290. 7491. 3720.  124. 2924. 5169. 7515. 6713. 5142. 1742. 7495. 2010.
 7220. 1320. 8515. 9199. 5251. 2521. 1511. 1512. 1710.]
lugar_trabajo
 [Local fijo, oficina, fábrica, etc., En un vehículo, En esta vivienda, En otras viviendas, En el campo o área rural, mar o río, ..., De puerta en puerta, En kiosco - caseta, Otro, En una obra en construcción, En una mina o cantera]
Length: 11
Categories (11, object): [Local fijo, oficina, fábrica, etc., En un vehículo, En esta vivienda, En otras viviendas, ...,
                          En kiosco - caseta, Otro, En una obra en construcción, En una mina o cantera]
contrato
 [Sí, No.]
Categories (2, object): [Sí, No.]
horas_semana
 [ 44.  56.  96.   9.  48.   4.  30.  42.  20.  45.  54.  80.  72.  78.
  77.  25.  70.  84.  39.  18.  12.   8.  62.  50.  49.  60.  36.  24.
  91.  21.   5.  40.  53.   2.  28.  51.  10. 105.  58.  46. 119.  32.
  16.   6.  66.  35.  27.  63.  43.   1.  14.  57.  13.  64.   3.  15.
  90.  33.  23.   7. 115.  55.  75.  65.  68.  38.  34.  52.  67.  22.
  76.  98.  26.  29.  47. 113.  74.  88.  59.  85. 112.  93.  11.  41.
  94.  95.]
trabajo_dia
 [Sí]
Categories (1, object): [Sí]
horas_trabajo
 [ 5.  8. 13.  3.  4.  7.  2.  9. 10. 12.  6.  1. 11. 14. 17. 15. 18. 20.
 16.]
minutos_trabajo
 [30.  0.  5. 20. 45. 25. 15. 12.]
horas_ida
 [0. 1. 3. 2. 4. 5.]
minutos_ida
 [ 8. 40.  5.  0. 10. 15. 30. 20.  1.  2.  6. 25. 50. 45. 35.  3.  7. 22.
  4. 18.]
este_trabajo
 [Obrero o empleado de empresa particular, Obrero o empleado del gobierno, Trabajador de su propia finca o de finca en ar..., Trabajador por cuenta propia, Patrón o empleador, Empleado doméstico, Jornalero o Peón]
Categories (7, object): [Obrero o empleado de empresa particular, Obrero o empleado del gobierno,
                         Trabajador de su propia finca o de finca en ar..., Trabajador por cuenta propia, Patrón o empleador,
                         Empleado doméstico, Jornalero o Peón]
cantidad_tiempo
 [  2.  18.   1. 600. 240.  12.  15.  48. 120. 500.   7.  72.   3.  24.
  36.   4.  34.   6.  96. 360. 480. 134. 612. 460. 180. 132.  16. 300.
  21. 350. 216.   8.  27. 720. 160. 156.   5.   0.  80.  60.  30.  13.
 170. 744. 100.  84.  11. 328. 144. 136. 540. 384.  10. 960. 204. 420.
  23.  26.  19.  46.  37. 108.  40.  25.   9.  55. 672. 336.  54.  64.
  85.  20. 288.  32. 242. 396. 138.  99. 324. 184. 444.  22. 400. 348.
 175. 210. 404. 192. 264.  28. 140. 179. 164. 228.  50.  58. 312. 456.
 110. 624. 280. 186. 146. 128. 150.  52.  42.  98.  14.  45. 154. 142.
 208. 276.  62. 252.  89. 440. 372. 190. 266.  71. 326.  44. 194. 104.
 152. 560.  17.  70.  29. 168.  78. 239. 260.  33. 124.  57. 200.  65.
 353. 408. 510. 640. 564. 244. 106.]
numero_personas
 [2 a 4 personas, 5 a 9 personas, 10 a 50 personas, Trabaja solo, 51 personas o más]
Categories (5, object): [2 a 4 personas, 5 a 9 personas, 10 a 50 personas, Trabaja solo,
                         51 personas o más]
empleo_secundario
 [No, Sí]
Categories (2, object): [No, Sí]
ganancia_jubilacion
 [No, Sí]
Categories (2, object): [No, Sí]
ganancia_arriendo
 [No., Sí]
Categories (2, object): [No., Sí]
ganancia_ayudas
 [Sí]
Categories (1, object): [Sí]
ayuda_provino_de
 [Dentro del país., Fuera del país., Ambas partes.]
Categories (3, object): [Dentro del país., Fuera del país., Ambas partes.]
valor_ayudas
 [2.0000e+06 5.0000e+05 1.6000e+07 4.8000e+05 1.2000e+07 2.4000e+05
 1.5000e+05 1.0000e+05 2.5000e+05 8.0000e+04 6.0000e+05 9.5000e+05
 1.0000e+06 1.4250e+06 7.2000e+06 2.0000e+05 2.4000e+06 3.0000e+05
 1.2000e+06 1.5000e+06 4.0000e+05 1.2000e+05 2.3000e+06 8.4960e+05
 7.0000e+06 3.0000e+06 1.7000e+06 6.0000e+06 1.2240e+06 2.7600e+05
 6.3000e+05 3.6000e+06 2.4000e+07 7.5000e+05 8.0000e+05 8.4000e+05
 2.0000e+07 1.0500e+06 9.0000e+05 4.2000e+06 7.0000e+05 4.8000e+06
 1.4000e+06 2.8000e+06 1.0100e+05 1.6800e+06 3.6000e+05 1.8000e+05
 5.0000e+04 5.4000e+05 2.5800e+05 2.0000e+04 2.2000e+06 7.8000e+06
 2.7000e+05 5.0000e+06 6.2000e+05 3.0000e+07 5.6500e+06 1.0000e+04
 4.2000e+05 1.8000e+06 2.0400e+05 4.0800e+05 1.0000e+07 9.1200e+05
 4.0000e+06 5.6000e+05 1.6000e+06 2.4300e+06 2.5000e+06 1.3200e+06
 4.5000e+06 4.2000e+04 2.3808e+05 8.4600e+05 2.0800e+05 8.0000e+06
 7.2000e+05 6.4000e+05 9.8000e+01 3.4000e+06 6.0000e+04 5.0400e+06
 1.2700e+05 1.9800e+06 3.3600e+06 1.0800e+07 2.2000e+05 7.8000e+05
 1.9000e+06 2.8350e+05 3.0000e+04 1.9200e+05 1.1500e+05 1.1400e+05
 2.2248e+07 2.6040e+05 2.5560e+05 6.0000e+07 1.3800e+06 2.2800e+06
 8.6000e+04 8.7500e+05 3.5000e+05 1.1400e+06 1.4400e+06 5.5000e+06
 2.6850e+05 1.1337e+06 1.5000e+07 3.2000e+06 1.5400e+06 1.9000e+05
 5.1000e+05 5.7600e+05 1.6000e+05 2.3000e+05 2.6000e+06 5.2800e+05
 7.3000e+05 1.7200e+05 9.3000e+05 4.5000e+04 9.6000e+06 9.8000e+05
 6.5000e+05 6.2400e+05 1.3000e+06 5.2000e+06 2.6760e+05 1.0800e+06
 1.4000e+05 1.0200e+06 9.6000e+05 1.7600e+05 1.2600e+06 1.8200e+06
 2.7500e+06 2.5000e+07 7.5000e+04 1.0001e+04 4.5000e+05 7.5000e+06
 5.7000e+06 4.0080e+06 4.6000e+05 2.7000e+07 1.6200e+06 2.6400e+05
 1.4400e+07 8.4000e+06 3.2400e+06 8.7000e+05 5.4000e+06 9.4800e+05
 1.3000e+07 6.7200e+06 1.9000e+04 2.5200e+06 1.3500e+06 8.3000e+05
 7.0500e+05 2.9700e+05 4.3200e+06 9.0000e+04 4.0000e+07 6.6000e+05
 1.5300e+06 5.3800e+05 1.9800e+07 9.2000e+06 5.0400e+05 3.5000e+06
 2.8800e+06 5.5000e+05 6.5000e+04 1.1000e+06 7.4000e+06 7.4000e+05
 2.1000e+06 2.1000e+05 3.0600e+06 1.4400e+08 2.7000e+06 3.8400e+05
 1.3000e+05 1.7600e+06 5.7000e+05 8.6000e+05 9.1500e+05 1.4400e+04
 1.1720e+06 6.8000e+05 3.1200e+06 2.0400e+06 8.8000e+05 7.4880e+06
 1.4300e+05 1.5600e+06 1.9200e+06 2.2800e+05 1.4400e+05 3.2000e+05
 2.1600e+06 2.8000e+05 2.5200e+05 1.1000e+05 4.6000e+06 2.9000e+05
 3.1000e+05 1.3300e+05 5.6000e+06 4.4000e+05 1.5800e+06 1.1560e+06
 7.0800e+05 1.2600e+05 3.3600e+05 5.3000e+05 1.1100e+07 1.2800e+06
 4.0000e+04 6.7000e+05 1.8000e+07 2.2600e+07 4.2000e+07 5.7400e+05
 5.3000e+06 4.4000e+06 4.7700e+05 3.4500e+05 2.9400e+05 1.4700e+06
 2.1000e+07 6.6800e+06 4.0200e+06 1.7800e+06 1.6700e+05 5.8000e+05
 7.7000e+05 2.6800e+06 3.7800e+06 6.6000e+06 1.4700e+05 2.6000e+05
 1.7000e+05 6.4800e+06 3.5000e+04]
REGION
 [Oriental, Central, Pacífica, Bogotá, Atlántica, San Andrés]
Categories (6, object): [Oriental, Central, Pacífica, Bogotá, Atlántica, San Andrés]
clase
 [Cabecera, Resto]
Categories (2, object): [Cabecera, Resto]
tipo_vivienda
 [Casa, Apartamento, Cuarto(s), Vivienda indígena]
Categories (4, object): [Casa, Apartamento, Cuarto(s), Vivienda indígena]
energia_electrica
 [Sí]
Categories (1, object): [Sí]
estrato
 [1 3 2 4 5 6 0 9]
acueducto
 [Sí, No]
Categories (2, object): [Sí, No]
alcantarillado
 [No, Sí]
Categories (2, object): [No, Sí]
recoleccion_basuras
 [Sí, No]
Categories (2, object): [Sí, No]
dias_x_semana
 [3 2 7 1 4 8 5 6]
gas_natural_dom
 [No, Sí]
Categories (2, object): [No, Sí]

Los datos representan de manera precisa el dato de la realidad además de que son los valores posibles especificados en la página de la encuesta.

# Análisis estadístico univariado